.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu__list {
	display: flex;
	align-items: center;
}

.menu__item {
	margin-right: 22px;
	&:last-child {
		margin-right: 0px;
	}
}

.contacts__phone {
	display: flex;
	align-items: center;
}

.contacts-phone__text {
	font-size: 22px;


}

.contacts-phone__icon-elem {
	width: 15px;
	height: 15px;
	margin-right: 6px;
}